# TIL90 CP210x USB-to-UART access for local Linux users.
# Install as /etc/udev/rules.d/99-til90-cp210x.rules, then reload udev rules.
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", GROUP="dialout", MODE="0660", TAG+="uaccess"
